<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css" />
</head>
<body>
    <div class="container">
        <div class="box white-box">
            <img src="img/floating2.png" width="150px" height="150px">
            <div class="name">name</div>
            <ul class="custom-list">
                <li>Todo Board</li>
                <li>Time Sheet</li>
            </ul>
            
                <button class="login-button">
                    로그인/로그아웃
                </button>
           
        </div>
        <div class="box gray-box">
            <div class="header-top">
                <h1>ToDo Board</h1>
                <div class="notice">
                    <button class="notification-button">
                    <span class="icon">&#128276;</span> <!-- 알림 아이콘 (종 모양) -->
                </button>
                </div>
            </div>

            <div class="date-con">
            
                <div class="datebox">
                    <div class="arrow left-arrow">
                        <button class="arrow-button">&#8592;</button> <!-- Left arrow -->
                    </div>
                    2024 / 08 / 02 Fri
                    <div class="arrow right-arrow">
                        <button class="arrow-button">&#8594;</button> <!-- Right arrow -->
                    </div>
                </div>
                
            </div>

            <div class="tabel-rabelborad">
                <div class="tabel-rabel">URL</div>
                <div class="tabel-rabel">DONE</div>
            </div>

            <div class="TodoList">
            <div class="table">
                <div class="table-box"></div>
                <div class="table-box"></div>
                <div class="table-box"></div>
            </div>
            
            <div class="table">
                <div class="table-box"></div>
                <div class="table-box"></div>
                <div class="table-box"></div>
            </div>

            <div class="table url">
                <div class="table-box-url"></div>
                <div class="table-box-url"></div>
                <div class="table-box-url"></div>
            </div>

            <div class="table done">
                <div class="table-box-done"></div>
                <div class="table-box-done"></div>
                <div class="table-box-done"></div>
            </div>
        </div>
        </div>
    </div>
           
      

</body>
</html>